<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <p>Abre un chat en whatsapp sin tener que añadir el número a tus contactos</p>
    <input id="targetNumber" type="tel" name="number" placeholder="ej: 34666777888" autofocus/>
    <p>El número debe incluir el código de pais sin ceros ni +. Por ejemplo, un número español (código +34): 34666777888</p>
    <button onclick="redirectToWhatsapp()">Abre mi whatsapp con este número</button>
</div>
