<div class="rounded-border whatsapp-font padding-top text-center whatsapp-dark-green-background-white-font">
    <h3>@ViewData["Title"]</h3>
    <h5>Abre un chat en tu whatsapp sin tener que añadir el número a tus contactos</h5>
    <p class="instructions"><i>El número debe incluir el código de pais sin ceros ni +. Por ejemplo, un número español (código +34): 34666777888</i></p>
    <input class="whatsapp-super-light-green-background rounded-border padding-top-bottom button-input-height" id="targetNumber" type="tel" name="number" placeholder="ej: 34666777888"/>
    <br/>
    <button class="whatsapp-super-light-green-background rounded-border button-input-height" onclick="redirectToWhatsapp()">Abrir whatsapp</button>
    <p class="foot-note"><i>** Serás redirigido a <b><u>tu whatsapp</u></b>, con un chat abierto con el número que desees, <b><u>sin que que lo tengas que añadir a tus contactos</u></b></i></p>
</div>
